/* identical to https://dulldesk.github.io/scss/project-style.scss */
%card-transition {
	transition: box-shadow 0.1s ease-out;
}

@mixin filter($value) {
	filter: opacity($value);
	-webkit-filter: opacity($value);
}

.card {
	@extend %card-transition;
	margin: 5px auto 10px;

	max-width:100%;
	float: none;

	&:hover {
		@extend %card-transition;
		box-shadow: 5px 5px 10px grey;
	}
	
	& h2 {
		font-weight: 300;
	}
}


img.card-link-icon {
	@include filter(40%);
}

%card-link-icon-transition {
	transition: filter 0.2s ease-out;
}

.card-link-icon {
	@extend %card-link-icon-transition;
	@include filter(80%);
	color: grey;
	
	&:hover {
		@extend %card-link-icon-transition;
		@include filter(100%);
		cursor:pointer;
		color: black;
	}
}

.card, .card > div {
	box-sizing: content-box;
}

.card > hr, .card-body + hr {
	margin: 20px {
		bottom: 15px;
		top: 0px;
	}
}

// override background for footer as regular bkgd glitches
%temp-footer-bkgd {
	background-color: #fff !important;
	border-top: none !important;
	padding-top: 0 !important;
}

.card-footer {
	display:flex;
	align-items: center;

	@extend %temp-footer-bkgd;
	
	& > * {
		margin-right: 10px;
	}
}

.card-title {
	margin: 0;
}

.help-cursor {
	cursor: help;
}

.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/card";
