/* nearly identical to https://dulldesk.github.io/scss/project-style.scss */

@import '../../styles.scss';
// @import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/card";

// Custom css

$bkgd: #ffffff88;

%card-transition {
	transition: box-shadow 0.1s ease-out;
}

@mixin filter($value) {
	filter: opacity($value);
	-webkit-filter: opacity($value);
}

.card {
	@extend %card-transition;
	margin: 5px auto 10px;
	background-color: $bkgd;

	max-width:100%;
	float: none;

	&:hover {
		@extend %card-transition;
		box-shadow: 5px 5px 10px grey;
	}
	
	& .card-title {
		font-weight: 300;
		font-family: "Open Sans", sans-serif;
	}
}

%card-link-icon-transition {
	transition: color 0.2s ease-out;
}

.card-link-icon, .ongoing {
	@extend %card-link-icon-transition;
	color: grey;
	
	&:hover {
		@extend %card-link-icon-transition;
		color: black;
	}
	
	.card-link-icon:hover {
		cursor:pointer;
	}
}

.card-link-icon {
	display: inherit;
}

.ongoing {
	cursor: help;
}

.card > hr, .card-body + hr {
	margin: 20px {
		bottom: 15px;
		top: 0px;
	}
}

// override background for footer as regular bkgd glitches
%temp-footer-bkgd {
	background-color: transparent !important;
	border-top: none !important;
	padding-top: 0 !important;
	padding-bottom: 1.25rem;
}

.card-footer {
	display:flex;
	align-items: center;

	@extend %temp-footer-bkgd;
	
	& > * {
		margin-right: 10px;
	}
}

.card-title {
	margin-top: 0rem;
}

.card-columns {
	@include media-breakpoint-up(sm) {
		column-count: 2;
	}
	@include media-breakpoint-up(md) {
		column-count: 3;
	}
}
