// override default bootstrap values
$modal-inner-padding: 2rem;
$modal-header-padding: 1rem $modal-inner-padding;

@import '../../styles.scss';
@import "~bootstrap/scss/modal";

// Custom css

%card-transition {
	transition: box-shadow 0.1s ease-out;
}

@mixin filter($value) {
	filter: opacity($value);
	-webkit-filter: opacity($value);
}

.modal-title {
	font-family: "Open Sans", sans-serif;
	margin-bottom: 0;
}

.modal img {
	max-width: 100%;
	max-height: 22rem;
	width:auto;
	height:auto;
}

button.close:focus {
	outline: none;
}

.modal .p-has-img {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.modal-body > p:first-child {
	margin-block-start:0;
}

$pre-grey: 245;
.modal-body pre {
	background-color: rgb($pre-grey,$pre-grey,$pre-grey);
	padding: 0.5rem;
}

$dark-grey: #363333;

h4 {
	color: $dark-grey;
}

.modal-header button.close {
	margin-top: -0.7rem;
	margin-right: 0;
	padding-right: 0;
}

div.modal-body {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
