// override default bootstrap
$h2-font-size: 1.5rem;
$headings-font-weight: 600;
$code-font-size: 100%;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/close";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/utilities/screenreaders";

.no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// Override bootstrap
nav h1.header-title {
	font-size: 1.5em;
	font-weight: 300;
	margin-bottom: revert;
	line-height: revert;
}
