// override default bootstrap
$h2-font-size: 1.5rem;
$headings-font-weight: 600;
$code-font-size: 100%;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/close";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/utilities/screenreaders";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');

.no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// Override bootstrap
nav .menu-logo h1.nav-title {
	font-size: 1.5em;
	font-weight: 300;
	margin-bottom: revert;
	line-height: revert;
}

body {
	background-color: #d6cfc8;
	padding: 5rem;
}

h1 {
	font-family: "Montserrat", "Segoe UI", sans-serif;
}

body, p {
	font-family: "Open Sans", "Segoe UI", sans-serif;
}

$link: #782b4c;

a, a:visited {
	&, a:hover {
		outline: none;
		text-decoration: none;
		color: black;
		transition: all 0.15s ease-out;
	}

	&:not(.ignore) {
		border-bottom: 1px solid $link;
	}
}

a:hover {
	color: $link; 
	border-bottom-color: transparent;
}
